<nz-layout>
    <nz-header>
        <nz-carousel nzAutoPlay [nzEffect]="'fade'">
            <div nz-carousel-content>
                <img src="../../../assets/images/banner/stock-online-1216923970.jpg" alt="">
            </div>
            <div nz-carousel-content>
                <img src="../../../assets/images/banner/stock-vector-hanging-golden-1451865509.jpg" alt="">
            </div>
          </nz-carousel>
    </nz-header>
    <nz-content>
        <h2>Products Test test</h2>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzXs]="{ span: 12, offset: 0 }" [nzXl]="{ span: 6, offset: 0 }" [nzXXl]="{ span: 4, offset: 0 }" *ngFor="let index of product">
                    <nz-card nzHoverable [nzCover]="coverTemplate">
                    <nz-card-meta nzTitle="Street beat {{index}}" nzDescription="www.instagram.com"></nz-card-meta>
                    <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="createBasicNotification(index)">
                        <i nz-icon nzType="download"></i>add to cart
                    </button>
                  </nz-card>
                  <ng-template #coverTemplate>
                    <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
                  </ng-template>
            </div>
          </div>
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>