.layout {
    min-height: 100vh;
  }

  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }


  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 85vh;
  }

  nz-footer {
    text-align: center;
  }
  .ant-menu-horizontal{
      text-align: right;
      line-height: 25px;

  }